<form method="post" action="{{ path('app_brochure_testo_delete', {'id': brochure_testo.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ brochure_testo.id) }}">
    <button class="btn">Delete</button>
</form>
