{% extends 'base.html.twig' %}

{% block title %}New BrochureTesto{% endblock %}

{% block body %}
    <h1>Create new BrochureTesto</h1>

    {{ include('brochure_testo/_form.html.twig') }}

    <a href="{{ path('app_brochure_testo_index') }}">back to list</a>
{% endblock %}
